:root {
    --margin-lr-container: 160px;
    --header-height: 82px;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 2rem;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.app {
    // width: 100%;
    max-width: 100%;
    margin: 0 var(--margin-lr-container);
}

@media (max-width: 991px) {
    :root {
        --margin-lr-container: 32px;
    }
}