.form-input {
    $height: 150px;
    position: absolute;
    bottom: -$height/2;
    left: 0;
    width: 100%;
    min-height: $height;
    background-color: $secondary-color;
    background-image: url(../images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0 64px;
    }

    &__input {
        outline: none;
        margin-right: 12px;
        padding: 18px;
        flex-grow: 1;
        border: 1px solid rgba(255,255,255,0.1);
        border-radius: 8px;
        font-size: 1.8rem;
        font-weight: 500;

        &::placeholder {
            color: $gray-violet-color;
        }
    }

    &__btn {
        font-size: 1.8rem;
        padding: 17px 70px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .form-input {
        $height: 160px;
    
        &__wrapper {
            padding: 0 24px;
            flex-flow: column wrap;
        }
    
        &__input {
            width: 100%;
            font-size: 1.7rem;
            margin-right: 0;
            margin-bottom: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    
        &__btn {
            font-size: 1.6rem;
            width: 100%;
            padding: 10px 24px;
        }
    }
}