@import './variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
        height: 57px;
    }

    &__navbar {
        list-style: none;
        display: flex;
        flex-grow: 1;
        .nav-link {
            color: $text-color;
            text-decoration: none;
            padding: 5px 12px;
            font-size: 1.4rem;
        }
    }
}

.btn {
    background-color: unset;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: $text-color;
    padding: 6px 14px;
}

.btn--no-bg {
    margin-right: 16px;
}

.btn--rounded {
    background-color: $primary-color;
    color: #fff;
    border-radius: 20px;
}

