.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 calc(-1*var(--margin-lr-container));
    padding: 25px var(--margin-lr-container) 0;

    &__logo {
        display: flex;
        align-items: center;
        height: 57px;
    }
}