.hero {
    position: relative;
    margin-top: 36px;
    padding-bottom: 210px;
    display: flex;
    
    &__cover {
        object-fit: contain;
        order: 1;
        flex-grow: 1;
        margin-right: -280px;
        overflow: hidden;
    }

    &__content {
        padding-top: 80px;
        padding-right: 60px;
        flex: 0 0 60%;
        max-width: 60%;
    }

    &__title {
        font-size: 6.8rem;
        line-height: 7.5rem;
        color: $dark-blue-color;
        font-weight: 700;
        margin: 0px;
    }

    &__desc {
        font-size: 1.8rem;
        line-height: 2rem;
        max-width: 90%;
        color: $gray-violet-color;
        line-height: 3rem;
        @include text-clamp(3);
    }
}

@media (max-width: 991px) {
    .hero {
        flex-direction: column;
        padding-bottom: 150px;

        &__content {
            order: 2;
            padding-right: 0;
            text-align: center;
            flex: 0 0 100%;
            max-width: 100%;
        }

        &__title {
            font-size: 4.6rem;
            line-height: 5.6rem;
        }

        &__desc {
            max-width: 100%;
        }
    }
}