.hero {
    position: relative;
    margin-top: 56px;
    padding-bottom: 210px;
    display: flex;
    
    &__cover {
        object-fit: contain;
        order: 1;
        flex-grow: 1;
        margin-right: - $margin-lr-container;
        overflow: hidden;
    }

    &__content {
        padding-top: 80px;
        padding-right: 60px;
        flex: 0 0 60%;
        max-width: 60%;
    }

    &__title {
        font-size: 7rem;
        line-height: 8rem;
        color: $dark-blue-color;
        font-weight: 700;
        margin: 0px;
    }

    &__desc {
        font-size: 1.8rem;
        line-height: 2rem;
        max-width: 90%;
        color: $gray-color;
        margin-bottom: 32px;
    }
}